[Unit]
Requires=overlay.mount
Before=initrd-root-fs.target
After=overlay.mount
ConditionPathExists=/etc/initrd-release
DefaultDependencies=false

[Mount]
What=overlayfs:/sysroot
Where=/sysroot
Type=overlayfs
Options=noatime,lowerdir=/,upperdir=/overlay

# 添加 /etc 的掛載邏輯
[Mount]
What=overlay
Where=/etc
Type=overlay
Options=noatime,lowerdir=/etc,upperdir=/overlay/etc_upper,workdir=/overlay/etc_work