[Unit]
Requires=overlay.mount
Before=initrd-root-fs.target
After=overlay.mount
ConditionPathExists=/etc/initrd-release
DefaultDependencies=false

[Mount]
What=overlay
Where=/sysroot
Type=overlay
Options=lowerdir=/,upperdir=/overlay/upper,workdir=/overlay/work
