[Unit]
Description=Mount Sysroot
DefaultDependencies=no
Before=initrd-switch-root.target

[Mount]
What=/dev/mmcblk0p2
Where=/sysroot
Type=ext4

[Install]
WantedBy=initrd-root-fs.target
